<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799121673172-mo4u2i1l3ladtuial4d2sbnb76jc5v68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799121673172-mo4u2i1l3ladtuial4d2sbnb76jc5v68</string>
	<key>API_KEY</key>
	<string>AIzaSyD02_NzbXf07l8XSPW-LK46UItxeQOLEps</string>
	<key>GCM_SENDER_ID</key>
	<string>799121673172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CLC.FirebaseProjectCollins</string>
	<key>PROJECT_ID</key>
	<string>project-d9bc3</string>
	<key>STORAGE_BUCKET</key>
	<string>project-d9bc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799121673172:ios:82b11ebed1116dd15ae441</string>
</dict>
</plist>